.wrapper {
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

header {
  // margin-top: 102.5px;
}

/* ~~~~~~~~~~~~~~~~~~~~

Desktop Navigation

~~~~~~~~~~~~~~~~~~~~~~ */

.desktop--navigation {
  display: flex;
  position: relative;
  width: 100%;
  padding: 40px 6%;
  justify-content: space-between;

  .nav--links--container a {
    margin-right: var(--space--md);
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.name--container {
  .last-name {
    margin-left: 8px;
    display: inline-block;
  }

  .first-name {
    display: inline-block;
  }


  .letter {
    display: inline-block;
    margin-left: -3px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1;
    font-size: var(--txt-md);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~

MOBILE NAVIGATION

~~~~~~~~~~~~~~~~~~~~~~ */

.mobile--navigation {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 999;


  .mobile--navigation-button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.50);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 18px;
  }

  .mobile--navigation--bar {
    height: 3px;
    width: 26px;
    background-color: var(--black);
    margin-bottom: 3px;
    transition: all 0.2s linear;
  }

  .mobile--navigation--bar.noMargin {
    margin: 0;
  }

  .mobile--navigation-bar--container.is-visible {
    .mobile--navigation--bar {
      background-color: var(--blue);
      width: 30px;
      transition: all 0.2s linear;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~

Scroll indicator

~~~~~~~~~~~~~~~~~~~~~~ */


nav.scroll-indicator {
  position: fixed;
  left: 0;
  bottom: var(--space--lg);

  a {
    font-weight: 400;
  }

  .scroll-indicator-txt--container {
    padding-left: var(--space--reg);
    width: 50%;

  }

  .scroll-indicator--container {
    display: flex;
    align-items: center;
    width: 11.25rem;
    margin-bottom: var(--space--xsm);
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    cursor: pointer;
  }

  .scroll-indicator--container.noMargin {
    margin: 0;
  }

  .scroll-indicator--bar {
    height: 4px;
  }




  #scroll-indicator-link--contact.scroll-indicator--container.is-visible {
    .scroll-indicator--bar {
      background-color: var(--black);
    }
  }

  .scroll-indicator--container.is-visible {
    .scroll-indicator--bar {
      background-color: var(--blue);
      width: var(--space--lg);
      // TODO: need to adjust timing and easing
      transition: all 0.2s linear;
    }

    .txt--sm {
      color: var(--white);
    }
  }

  .scroll-indicator--container {
    .scroll-indicator--bar {
      background-color: var(--bone);
      width: var(--space--reg);
    }

    .txt--sm {
      color: rgba(255, 255, 255, 0.20);
      transition: all 0.2s linear;
    }
  }
}

@include for-phone-only {

  nav.desktop--navigation .nav--links--container {
    display: none;
  }

  nav.desktop--navigation {
    padding: 40px var(--space--md);
  }

  nav.scroll-indicator {
    display: none;
  }

  .mobile--navigation {
    display: block;
  }
}