/* ~~~~~~~~~~~~~~~~~~~~

All Homepage Sections

~~~~~~~~~~~~~~~~~~~~~~ */

main.introduction--container,
section.experiences,
section.certs-orgs {
  margin-left: 11.25rem;
}

@include for-phone-only {

  main.introduction--container,
  section.experiences,
  section.certs-orgs {
    margin-left: 0;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~

Introduction Section

~~~~~~~~~~~~~~~~~~~~~~ */


.introduction--content.col-2 {
  display: flex;
  height: calc(100vh - 102.5px);

  h1 {
    padding-bottom: var(--space--lg);
  }

  h1.m--header {
    display: none;
  }

  .txt--decoration {
    position: absolute;
    line-height: 0.8;
    right: var(--space--lg);
    bottom: var(--space--lg);
  }

  .col-left {
    width: 43%;
    padding-left: 11.25rem;
    align-self: flex-end;

    .arrow--container {
      height: 66vh;
      position: relative;
    }

    .arrow--button {
      width: 127px;
      height: 127px;
      background-color: var(--white);
      position: absolute;
      bottom: 0;
      right: 0;
      @extend .flex-container--centered
    }
  }

  .col-right {
    width: 57%;
    align-self: flex-end;

    .col-right--container {
      padding: var(--space--md) 12.5rem var(--space--md) var(--space--md);
      height: 66vh;
      position: relative;
    }
  }

  @include for-desktop-down {
    .col-left {
      padding-left: 5rem;
    }

    .col-right .col-right--container {
      padding: var(--space--md) 6.25rem var(--space--md) var(--space--md);
    }

    .txt--decoration {
      font-size: 16vw;
    }
  }

  @include for-tablet-landscape-down {
    .col-left {
      display: none;
    }

    .col-right {
      width: 100%;
    }

    h1.m--header {
      display: block;
    }

    .txt--decoration {
      font-size: 24vw;
    }

    .col-right .col-right--container {
      height: unset;
    }
  }

  @include for-phone-only {
    h1.m--header {
      padding: 0 var(--space--md) var(--space--xl) var(--space--md);
      margin: 0;
    }
  }
}

@include for-tablet-landscape-down {
  .introduction--content.col-2 {
    height: unset;
  }
}

.blue-bg {
  background-color: var(--blue);
}

/* ~~~~~~~~~~~~~~~~~~~~

Experiences Section

~~~~~~~~~~~~~~~~~~~~~~ */

section.experiences {
  background-color: var(--bone);
  min-height: 100vh;
  color: var(--black);



}

main.experiences--container {
  padding-top: var(--space--xl);
  padding-bottom: var(--space--xl);

  h1 {
    padding: 0 14%;
    margin-bottom: var(--space--xl);
  }

  p {
    margin-bottom: 0;
  }

}

ul.experiences--list {

  li {
    display: flex;
    margin-bottom: var(--space--lg);
    justify-content: center;
  }

  h3 {
    margin-bottom: var(--space--xs);
  }

  .list--title {
    padding: 0 var(--space--sm);
  }

  .list--content {
    width: 29%;
    padding: 0 var(--space--sm);
  }

  .list--title {
    width: 19%;
  }

  .list--icon {
    width: 14%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .list--number {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  @include for-tablet-landscape-down {

    .list--icon,
    .list--title,
    .list--content {
      width: 100%;
      padding: 0;
    }

    .list--title {
      margin-bottom: var(--space--reg);
    }

    .list--number {
      width: 100%;
      justify-content: flex-end;
      margin-bottom: var(--space--md);
    }

    li {
      flex-flow: column;
      align-items: flex-start;
      padding: 0 14%;
      margin-bottom: var(--space--xl);
    }

    .list--icon {
      display: none;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~

Certifications Section

~~~~~~~~~~~~~~~~~~~~~~ */

section.certs-orgs {
  padding-top: var(--space--xl);
  padding-bottom: var(--space--xl);
  min-height: 100vh;

  main {
    padding-right: 11.25rem;
  }

  @include for-phone-only {
    main {
      padding-right: 0;
    }
  }

  h1 {
    margin-bottom: var(--space--xl);
    text-align: right;
  }
}

ul.certs-orgs--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h3 {
    margin-bottom: var(--space--xsm);
  }

  .txt--sm {
    margin-bottom: var(--space--reg);
  }

  li {
    padding: 0 var(--space--reg);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
  }

  .certs-orgs--list-content p:last-of-type {
    margin-bottom: var(--space--md);
  }

  .logo--container {
    align-self: center;
    justify-self: center;
  }

}

@include for-tablet-landscape-down {
  section.certs-orgs main {
    padding-right: 0;
  }

  section.certs-orgs {
    h1 {
      padding: 0 14% 0 0;
    }
  }

  ul.certs-orgs--list {
    grid-template-columns: 1fr;
  }

  ul.certs-orgs--list {
    li {
      padding: 0 14%;
      margin-bottom: var(--space--xl);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

}

// @include for-phone-only {
//   ul.certs-orgs--list {
//     li {
//       padding: 0 var(--space--lg);
//     }
//   }
// }